{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="col-md-9">
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th><h4 style="font-weight:bold;">Faculty</h4></th>
          <th><h4 style="font-weight:bold;">Designation</h4></th>
          <th><h4 style="font-weight:bold;">Number of posts</h4></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        {% if user.is_faculty %}
          <tr>
            {% if user.faculty.image %}
            <td class="align-middle"><img class="rounded-circle account-img" style="width: 65px;height: 65px;"  src="{{ user.faculty.image.url }}" ><a href=" {% url 'accounts:profile' user.username %} " style="color:#007bff;font-size:19px;margin-left:20px;">: {{ user.username }}</a></td>
            {% else %}
            <td class="align-middle"><img class="rounded-circle account-img" style="width: 65px;height: 65px;"  src="{% static 'accounts/img/default_profile.png' %}" ><a href=" {% url 'accounts:profile' user.username %} " style="color:#007bff;font-size:19px;margin-left:20px;">: {{ user.username }}</a></td>
            {% endif %}
            <td class="align-middle"><p>{{user.faculty.designation}}</p></td>
            <td class="align-middle">{{user.posts.count}}</td>
          </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
